@model List<MusicModel>
@{
    ViewData["Title"] = "Lista de músicas";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Music" asp-action="Criar">Adicionar nova música</a>
    </div>
    <br/>
    <h1 class="display-4">Lista de músicas</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Banda</th>
                <th scope="col">Album</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (MusicModel music in Model)
                {
                    <tr>
                        <th scope="row">@music.Id</th>
                        <td>@music.Nome</td>
                        <td>@music.Banda</td>
                        <td>@music.Album</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-primary" asp-route-id="@music.Id" asp-controller="Music" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@music.Id" asp-controller="Music" asp-action="ApagarConfirmacao">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>